<h1>Welcome to Gwen's Pizza</h1>

<div class="row">
  <div class="col-md-6">
    <p>Made with extra love :)</p>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class="col-md-4">
      <img style='width: 100%; border-radius: 10px;' src='http://static.comicvine.com/uploads/original/11114/111144184/4791207-9790062099-Pizza.jpg'>
    </div>
    <div class="col-md-4">
      <img style='width: 100%; border-radius: 10px;' src='http://www.wonderfulpizzapoint.com/gallery/pizza/55698b19aad0b.png'>
    </div>
    <div class="col-md-4">
      <img style='width: 100%; border-radius: 10px;' src='http://www.digiorno.com/Content/Images/products/11155-pizza-close.jpg'>
    </div>
  </div>
</div>