<h1>Menu</h1>
{{pizza-list title="List of Pizzas" pizzas=model}}

<h2>Toppings:</h2>
<ul class="list-group">
  <li class='list-group-item'>Pepperoni</li>
  <li class='list-group-item'>Sausage</li>
  <li class='list-group-item'>Chicken</li>
  <li class='list-group-item'>Green Pepper</li>
  <li class='list-group-item'>Onion</li>
  <li class='list-group-item'>Pineapple</li>
  <li class='list-group-item'>Extra Cheese</li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">More Toppings coming soon...</h3>
  </div>
</div>